.applicationContainer {
  width: inherit;
  height: inherit;
  margin: inherit;
  padding: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}